git config core.autocrlf false

game-709/server/project/.vs/project/v15/Browse.VC.db
game-709/server/project/.vs/project/v15/.suo
game-709/server/project/.vs/project/v15/.suo
game-709/server/project/.vs/project/v15/Browse.VC.db
game-709/server/project/.vs/project/v15/Browse.VC.opendb
game-709/server/release/baccarat_server/baccaratServer
game-709/server/release/two_people_majiang_server/stop.sh
*.sh
game-709/server/release/paijiu_server/paijiuServer
game-709/server/release/robniu_server/robniuServer
game-709/server/release/paijiu_server/paijiuServer
game-709/server/release/server_config/server_config.lua
game-709/server/release/showhand_server/showhandServer
game-709/server/release/slot_server/slotServer
game-709/server/release/texas_server/texasServer
game-709/server/release/two_people_majiang_server/majiangServer
game-709/server/release/twoeight_server/twoeightServer
game-709/server/release/war_server/warServer
game-709/server/release/zajinhua_server/zajinhuaServer
game-709/server/release/carcity_server/carcityServer
game-709/server/release/dice_server/diceServer
game-709/server/release/fight_server/fightServer
game-709/server/release/land_server/landServer
game-709/server/release/lobby_server/lobbyServer
game-709/server/release/majiang_server/majiangServer
game-709/server/release/niuniu_server/niuniuServer
game-709/server/release/paijiu_server/paijiuServer
game-709/server/release/fishing_server/fishingServer
game-709/server/release/everycolor_server/everycolorServer
game-709/server/release/bainiu_server/bainiuServer
game-709/server/release/dice_server/diceServer
game-709/server/project/.vs/project/v15/Browse.VC.db
game-709/server/project/.vs/project/v15/.suo
game-709/server/release/paijiu_server/paijiuServer
game-709/server/project/.vs/project/v15/ipch/AutoPCH/ca8ea7044c2ecec2/SHOW_HAND_LOGIC.ipch
game-709/server/project/.vs/project/v15/Browse.VC.db
game-709/server/project/.vs/project/v15/Browse.VC.db
game-709/server/project/.vs/project/v15/.suo
